Tests: run-tests
Depends: dbus-x11,
         gnupg,
         pyflakes,
         pyflakes3,
         python-dbus,
         python-distutils-extra,
         python-gi,
         python-mock,
         python-pycurl,
         python-setuptools,
         python3-distutils-extra,
         python3-gi,
         python3-mock,
         python3-pycurl,
         python3-setuptools,
         xvfb,
         @

Tests: add-apt-repository
Depends: gnupg, software-properties-common
Restrictions: needs-root, breaks-testbed, allow-stderr
